<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>SVG converter service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    <body>
        <div class="container">
            <h1 class="text-center">SVG converter service</h1>
            <br>
            <div>

                <form action="/convert" method="post" enctype="multipart/form-data">
                    <label for="formFileLg" class="form-label">Import your SVG image</label>
                    <input class="form-control form-control-lg" id="image" type="file">
                    <button type="submit">Convert</button>
                </form>
                
            </div> 
            <button>Submit</button>
        </div>
           
    </body>
</html>